@import "variables.scss";

.single-work-card {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    img {
        margin-bottom: 1rem;
    }
}

.work-out-link {
    max-width: 15rem;
    text-align: center;
    background-color: $color-accent;
    // padding: 1rem;
    margin-top: 1rem;
    border-radius: 25px;
}




@media only screen and (min-width: 1024px) {
    .single-work-card {
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-almost-white;
        padding: 2*$cubit 0;
        width: 20*$cubit;
        height: 17*$cubit;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        p {
            display: none;
        }
    }



    .title {
        font-size: 1.8rem;
        color: $color-main;
        margin: 0;
        text-align: center;
        transition: 0.2s;
    }

    .work-image {
        position: relative;
        height: 60%;
        width: 100%;
        transition: 1s;
    }

    .tech-paragraph {
        margin-top: 2*$cubit;
        font-weight: 700;
    }

    .work-out-link {
    font-size: 0px;
    transition: 0.3s ease-in-out;
    }





    .single-work-card:hover {   
        background-color: $color-accent;                                    //on hover
        width: 50*$cubit;
        padding: 2*$cubit;
        height: 48vh;
            p {
                display: inline-block;
                color: $color-almost-white;
            }
            .title {
                color: $color-almost-white;
                &::first-letter {
                    color: $color-almost-white;
                }
            }
            
            img {
                display: none;
                transition: 1s;
            }

            .work-out-link {
                display: inline-block;
                padding: 1*$cubit;
                border-radius: 25px;
                background-color: $color-almost-white;
                color: $color-accent;
                text-decoration: none;
                font-size: 1rem;
                align-self: flex-end;
                transition-delay: 1s;
            }
    }
}

@media only screen and (max-width: 1023px) {


    .single-work-card {
        // width: 80%;
        height: auto;
        max-width: 600px;
    }

    .work-out-link {
        padding: 1rem;
    }
}

@media only screen and (max-width: 680px) {

    .single-work-card {
        width: 80%;
    }

    img {
        width: 100%;
    }
}